<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form>
    <label for="addressInput">Ajouter une addresse: </label>
    <input id="addressInput" type="text" ng-model="addressToAdd">
    <button ng-click="addAddress(addressToAdd)">Submit</button>
</form>


</body>
</html>